.cache/
elpa/
auto-save-list/
history
places
recentf*
server/
custom.el
url/
pyim/
bookmarks
var/
tramp
creature.el
projectile-bookmarks.eld
/irony/
transient/
/network-security.data
/forge-database.sqlite
.emacs.desktop.lock
.emacs.desktop
/eshell/lastdir
/.lsp-session-v1
/rime/
/abbrev_defs
/package-quickstart.el
/package-quickstart.elc
/eln-cache/
/elpa*
/package-quickstart*
/emms/
