.cache/
elpa/
auto-save-list/
history
places
recentf*
server/
custom.el
url/
pyim/
bookmarks
var/
tramp
creature.el
projectile-bookmarks.eld
/irony/
transient/
/network-security.data
/forge-database.sqlite
